<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>chat room</title>
	<link rel="stylesheet" type="text/css" href="../lib/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/chatroom.css">
</head>
<body>
	<div class="chat-room">
		<div class="contianer">
			<div class="chat-left">
				<!--<div class="chat-box">
					<div class="left">
						<img src="../images/a.jpg">
						<div class="content">
							<span class="user-name">称昵</span>&nbsp;&nbsp;<span class="time">151531313</span>
							<p class="message">复读机啊算了放假啦放假啦时间分厘卡似的</p>
						</div>
					</div>
				</div>
				<div class="chat-box">
					<div class="right">
						<img src="../images/a.jpg" title="称昵">
						<div class="content">
							<div class="right-message"><span class="user-name">&nbsp;&nbsp;称昵</span><span class="time">151531313</span></div>
							<p class="message">复读机啊算了放假啦放假啦时间分厘卡似的</p>
						</div>
					</div>
				</div>-->
			</div>
			<div class="chat-right">
				<div class="user-list">
					<!--<div class="user-list-user" title="小狼"><img src="../images/c.jpg"><p>小浪</p></div>-->
				</div>
			</div>
			<div class="chat-bottom flex-center">
				<div class="messages-post-window">
					<textarea></textarea>
				</div>
				<div class="submit-botton">发送</div>
			</div>
		</div>
	</div>
</body>
	<script type="text/javascript" src="../lib/jquery.js"></script>
	<script type="text/javascript" src="../js/chatroom.js"></script>
</html>