<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="utf-8">
	<title>注册账号</title>
	<link rel="stylesheet" type="text/css" href="../lib/normalize.css">
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../lib/button.css">
	<link rel="stylesheet" type="text/css" href="../css/regist.css">
</head>
<body>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4" id="username">
						<input type="text" name="username" placeholder="请输入用户名">
					</div>
					<div class="col-md-4" id="password">
						<input type="password" name="password" placeholder="请输入密码">
					</div>
					<div class="col-md-4">
						<div class="col-md-12">
							<div id="login" class="button button-primary button-rounded button-small">登陆</div>
							<div id="regist" class=" button button-primary button-rounded button-small">注册</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
	<script type="text/javascript" src="../lib/jquery.js"></script>
	<script type="text/javascript" src="../lib/bootstrap.js"></script>
	<script type="text/javascript" src="../lib/moment.js"></script>
	<script type="text/javascript" src="../js/login.js"></script>
</html>