html,body{
	position: relative;
	height: 100%;
	width: 100%;
	background: url('../images/timg.jpg') no-repeat center center;
	background-size: 100% 100%;
}

.container{
	width: 350px;
	height: 300px;
	border:1px solid #eaeaea;
	position: absolute;
	padding-top: 24px;
	left: 50%;
	top: 50%;
	margin-top:-150px;
	margin-left: -170px; 
}
.placeholder{
	margin-left: 15px;
	height: 45;
	font-size: 14px;
	color: red;
}
.span{
	width: 70px;
	text-align: left;
	display: inline-block;
}
input[type=text],input[type=password],input[type=tel]{
	padding-left: 15px;
	width: 200px;
}
#post{
	margin-top:25px;
}